<div class="ecmCenterPane">

      <div data-dojo-type="dijit/layout/TabContainer"  data-dojo-attach-point="tab1Container">
        <div data-dojo-type="dijit/layout/ContentPane" title="لوحة المؤشرات التراكمية" data-dojo-props="selected:true">    	
		    <div data-dojo-attach-point="firstChartContainer" style="max-width: 650px; height: 400px; margin: 35px auto; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); box-sizing: content-box;"></div>
		    <div data-dojo-attach-point="secondChartContainer" style="width: 80%; height: 500px; margin: 35px auto; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); box-sizing: content-box;"></div>
		    <div data-dojo-attach-point="thirdChartContainer" style="width: 80%; height: 500px; margin: 35px auto; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); box-sizing: content-box;"></div>
		    <div data-dojo-attach-point="fourthChartContainer" style="width: 80%; height: 500px; margin: 35px auto; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); box-sizing: content-box;"></div>
		    <div data-dojo-attach-point="fifthChartContainer" style="width: 80%; height: 500px; margin: 35px auto; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); box-sizing: content-box;"></div>   
		</div>
			
	<div data-dojo-type="dijit/layout/ContentPane" title="لوحة المؤشرات لفترات زمنية محددة" data-dojo-props="selected:true">
	    <div style="text-align: center; margin-bottom: 40px;">
	        <label for="dateFrom" style="margin-right: 20px;">${_lcl.FROM_DATE}</label>
	        <input type="date" id="dateFrom" data-dojo-attach-point="dateFrom" style="width: 200px; height: 40px; font-size: 16px; margin-right: 20px;">
	        <label for="dateTo" style="margin-right: 20px;">${_lcl.TO_DATE}</label>
	        <input type="date" id="dateTo" data-dojo-attach-point="dateTo" style="width: 200px; height: 40px; font-size: 16px; margin-right: 20px;">
	        <button data-dojo-attach-point="filterButton" data-dojo-attach-event="onClick: filterDataByDate" style="width: 150px; height: 50px; font-size: 18px; margin-left: 20px; margin-right: 20px;">${_lcl.VIEW_RESULTS}</button>
	    </div>
	    <div data-dojo-attach-point="sixthChartContainer" style="width: 80%; height: 500px; margin: 0 auto; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); box-sizing: content-box;"></div>   
	</div>
	

		
		
	</div>
</div>
